<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.obfuscate4e.ObfuscationConfigurator" name="org.obfuscate4e.ObfuscationConfigurator" schema="schema/obfuscationConfigurator.exsd"/>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/org.obfuscate4e.ant_0.6.3.200908031615.jar">
      </extraClasspathEntry>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.obfuscate4e.preferences.Obfuscate4ePreferencePage"
            id="org.obfuscate4e.preferences.Obfuscate4ePreferencePage"
            name="Obfuscation">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.obfuscate4e.projectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.obfuscate4e.builder.AddObfuscate4eConfigurationNatureAction"
               enablesFor="+"
               id="org.obfuscate4e.addRemoveNatureAction"
               label="Add Obfuscate4e Nature"
               menubarPath="org.obfuscate4e.o4eMenu/project">
         </action>
         <menu
               id="org.obfuscate4e.o4eMenu"
               label="Obfuscation"
               path="additions">
            <separator
                  name="project">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.obfuscate4e.classContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="org.obfuscate4e.actions.ExcludeClassAction"
               id="org.obfuscate4e.action1"
               label="Exclude class from obfuscation"
               menubarPath="org.obfuscate4e.o4eMenu/class">
         </action>
         <menu
               id="org.obfuscate4e.o4eMenu"
               label="Obfuscation"
               path="additions">
            <separator
                  name="class">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.obfuscate4e.manifestContribution"
            nameFilter="MANIFEST.MF"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.obfuscate4e.actions.GenerateConfigurationAction"
               enablesFor="1"
               id="org.obfuscate4e.action1"
               label="Create obfuscation configuration"
               menubarPath="org.obfuscate4e.o4eMenu/manifest">
         </action>
         <menu
               id="org.obfuscate4e.o4eMenu"
               label="Obfuscation"
               path="additions">
            <separator
                  name="manifest">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.obfuscate4e.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="configurationBuilder"
         name="Obfuscate4e custom configuration builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.obfuscate4e.builder.Obfuscate4eConfigurationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="configurationNature"
         name="Obfuscate4e Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.obfuscate4e.builder.Obfuscate4eConfigurationNature">
         </run>
      </runtime>
      <builder
            id="org.obfuscate4e.configurationBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.obfuscate4e.properties.Obfuscate4ePropertyPage"
            id="org.obfuscate4e.properties.samplePropertyPage"
            name="Obfuscation"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
</plugin>
