<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.partmaster.obfuscate4e.ObfuscationConfigurator" name="de.partmaster.obfuscate4e.ObfuscationConfigurator" schema="schema/obfuscationConfigurator.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.partmaster.obfuscate4e.preferences.Obfuscate4ePreferencePage"
            id="de.partmaster.obfuscate4e.preferences.Obfuscate4ePreferencePage"
            name="Obfuscate4e">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.partmaster.obfuscate4e.projectContribution"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.partmaster.obfuscate4e.builder.ToggleNatureAction"
               enablesFor="+"
               id="de.partmaster.obfuscate4e.addRemoveNatureAction"
               label="Add Obfuscate4e Nature"
               menubarPath="de.partmaster.obfuscate4e.o4eMenu/project">
         </action>
         <menu
               id="de.partmaster.obfuscate4e.o4eMenu"
               label="Obfuscation"
               path="additions">
            <separator
                  name="project">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.partmaster.obfuscate4e.classContribution"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <action
               class="de.partmaster.obfuscate4e.actions.ExcludeClassAction"
               id="de.partmaster.obfuscate4e.action1"
               label="Exclude class from obfuscation"
               menubarPath="de.partmaster.obfuscate4e.o4eMenu/class">
         </action>
         <menu
               id="de.partmaster.obfuscate4e.o4eMenu"
               label="Obfuscation"
               path="additions">
            <separator
                  name="class">
            </separator>
         </menu>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.partmaster.obfuscate4e.manifestContribution"
            nameFilter="MANIFEST.MF"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.partmaster.obfuscate4e.actions.GenerateConfigurationAction"
               enablesFor="1"
               id="de.partmaster.obfuscate4e.action1"
               label="Generate obfuscation configuration"
               menubarPath="de.partmaster.obfuscate4e.o4eMenu/manifest">
         </action>
         <menu
               id="de.partmaster.obfuscate4e.o4eMenu"
               label="Obfuscation"
               path="additions">
            <separator
                  name="manifest">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.partmaster.obfuscate4e.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="configurationBuilder"
         name="Obfuscate4e custom configuration builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.partmaster.obfuscate4e.builder.Obfuscate4eConfigurationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="configurationNature"
         name="Obfuscate4e Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.partmaster.obfuscate4e.builder.Obfuscate4eConfigurationNature">
         </run>
      </runtime>
      <builder
            id="de.partmaster.obfuscate4e.configurationBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="de.partmaster.obfuscate4e.properties.Obfuscate4ePropertyPage"
            id="de.partmaster.obfuscate4e.properties.samplePropertyPage"
            name="Obfuscate4e"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
</plugin>
