<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/de.partmaster.obfuscate4e.ant_0.6.3.200901121425.jar">
      </extraClasspathEntry>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="de.partmaster.obfuscate4e.preferences.Obfuscate4ePreferencePage"
             class="de.partmaster.obfuscate4e.proguard.preferences.ProguardPreferencePage"
             id="de.partmaster.obfuscate4e.proguard.preferences.ProguardPreferencePage"
             name="Proguard">
       </page>
    </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.partmaster.obfuscate4e.proguard.preferences.PreferenceInitializer">
      </initializer>
   </extension>
    <extension
          point="de.partmaster.obfuscate4e.ObfuscationConfigurator">
       <obfuscationConfigurator
             class="de.partmaster.obfuscate4e.proguard.ProguardObfuscationConfigurator"
             name="Proguard">
       </obfuscationConfigurator>
    </extension>
    
</plugin>
